@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #FAF1E4;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #CEDEBD;
}

::-webkit-scrollbar-thumb {
  background: #435334;
}

::-webkit-scrollbar-thumb:hover {
  background: #435334;
}
